header{
    background-color: #f83600;
    color: white;
    padding: 5px 0;
    font-size: 23px;
}

nav li{
    display: inline-block;
    padding: 15px 30px;
    margin: 0 15px;
    border: 3px solid black;
}

nav ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

#intro {
    background-color: #fe8c00;
    padding: 20px 100px;
    margin: 0;
}

#intro p{
    margin-bottom: 0;
    margin-top: 0;
}

#intro h1{
    margin-top: 0;
    margin-bottom: 0;
}

#intro img{
    height: 200px;
    width: 150px;
}

.content{
    background-color: #ffefba;
    height: 280px;
    padding-left: 20px;
    padding-top: 20px;
}

.content h2{
    margin-top: 0;
}